@import '../../colors.module.css';

.homepage {
    display: flex;
    flex-direction: column;
}

.cardsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 24px;
}

.applicationContainer {
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-right: 12px;
    margin-left: 24px;
    /* border-width: 2px;
    border-style: solid;
    border-color: black; */
}

.donationContainer {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 24px;
    margin-left: 12px;
    /* border-width: 2px;
    border-style: solid;
    border-color: black; */
}

h1 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 46px;
    color: var(--NAVY_BLUE);
    /* border-width: 2px;
    border-style: solid;
    border-color: blue; */
}

.spacers {
    height: 24px;
    width: 100px;
    /* border-width: 2px;
    border-style: solid;
    border-color: green;  */
}

@media (max-width: 700px) {
    .cardsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 24px;
    }
}
